[Desktop Entry]
Version=1.0
Type=Application
Name=GalleVR
GenericName=VR Photo Gallery
Comment=A social gallery for your VRChat and Resonite photos.
Exec=gallevr %U
Icon=com.blueberrywolf.gallevr
Terminal=false
StartupNotify=true
StartupWMClass=gallevr
Categories=Graphics;Photography;Network;
Keywords=VR;VRChat;Resonite;NeosVR;Image;Gallery;Photo;Social;
MimeType=image/webp;image/png;image/jpeg;
X-GNOME-UsesNotifications=true
X-App-Version=@@VERSION@@
